@import "tailwindcss";
body {
  background-color: rgba(21, 22, 26, 1);
 }
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*PC And Other Screen With Big Size screen*/
@media (min-width:1200px){
  body{
     h1{
      font-size: 48px;
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
    h2{
      font-size: 40px;
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
  }
  
  .mainDiv{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 160px;
    
    h1,h2,.mainP{
      margin-left: 56px;
      margin-right: 56px;
      margin-top: 40px;
    }
  }
}
/*Tablets etc*/
@media (max-width:1200px){
  body{
    h1{
      font-size: 38px;
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
    h2{
      font-size: 30px;
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
  }

  .mainDiv{
    display: flex;
    
    align-items: flex-start;
    justify-content: flex-start;
    
    h1,h2,.mainP{
      margin-left: 36px;
      margin-right: 36px;
      margin-top: 20px;
    }
  }
}
/*Mobile Devices*/
@media (max-width: 768px) {
  body{
     h1{
      font-size: 28px;
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
    h2{
      font-size: 20px;
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
  }
  .mainDiv{
    display: flex;
    
    align-items: flex-start;
    justify-content: flex-start;
    
    h1,h2,.mainP{
      margin-left: 16px;
      margin-right: 16px;
      margin-top: 8px;
    }
  }
}